@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply text-sm transition-colors duration-300 px-4 py-2 rounded-md hover:text-gray-dark-200 focus:outline-none capitalize;
  }

  .container {
    @apply max-w-full md:max-w-5xl lg:max-w-6xl mx-auto;
  }

  .link {
    @apply dark:text-gray-dark-400 dark:hover:text-gray-dark-100 dark:hover:underline-offset-1 duration-500;
  }

  /* 2 column above 1024 & 1 column below */
  .column-2 {
    @apply flex gap-4 items-center justify-between;
  }

  .column-2.reverse {
    @apply flex-col-reverse md:flex-col;
    /* @apply grid grid-cols-1 md:grid-cols-2 gap-4; */
  }

  .card {
    @apply dark:bg-gray-dark-700 rounded-md shadow-md p-4 dark:text-gray-dark-400 transition-all duration-300;
  }

  .card-btn {
    @apply px-4 py-2 dark:hover:bg-gray-dark-600;
  }

  .divider.horizontal {
    @apply h-px my-14;
    background: linear-gradient(90deg, rgba(32, 43, 56, 0.44) 0%, rgba(42, 58, 78, 0.94) 49.97%, rgba(31, 44, 60, 0.48) 100%);
  }

  .divider.vertical {
    @apply mx-2 hidden md:flex w-px;
    background: linear-gradient(0deg, rgba(32, 43, 56, 0.44) 0%, rgba(42, 58, 78, 0.94) 49.97%, rgba(31, 44, 60, 0.48) 100%);
  }

  .card-divider.vertical {
    @apply w-px bg-secondary h-16;
  }

  .spacing {
    @apply mb-16;
  }

  .timeline {
    @apply relative flex flex-col gap-4 pl-5 py-5;
  }

  .timeline-item {
    @apply mb-10 relative;
  }

  .timeline-item::before {
    @apply absolute top-1 -left-[23px] w-2 h-2 bg-gray-dark-400 rounded-full;
    content: '';
  }

  .timeline::before {
    @apply absolute top-0 left-0 w-px h-full bg-gradient-to-b from-gray-dark-400 to-gray-dark-900;
    content: '';
    background-color: transparent;
    background-image: linear-gradient(to bottom, #525B67 50%, #191D24 50%);
    background-repeat: repeat;
    background-size: 100% 13px;
  }

  .projects {
    @apply md:w-[500px] grid grid-cols-projects grid-rows-projects gap-0;
  }

  .projects>div.card {
    @apply flex flex-col justify-between;
  }

  .projects>div:nth-child(1) {
    @apply col-start-1 col-end-6 row-start-1 row-end-2;
  }

  .projects>div:nth-child(3) {
    @apply col-start-2 col-end-3 row-start-1 row-end-5;
  }

  .projects>div:nth-child(5) {
    @apply col-start-4 col-end-5 row-start-1 row-end-5;
  }

  .projects>div:nth-child(7) {
    @apply col-start-1 col-end-6 row-start-3 row-end-4;
  }

  .projects>div:nth-child(11) {
    @apply col-start-1 col-end-6 row-start-5 row-end-6;
  }

  .project-divider.horizontal {
    @apply border-t border-b;
  }

  .project-divider.vertical {
    @apply border-l border-r;
  }

  .project-divider {
    @apply border-gray-dark-400;
  }

  .footer-card-info {
    @apply absolute rotate-90 bottom-16 right-4;
  }

  .footer-card-info::after {
    @apply absolute top-0 left-0 w-full h-full bg-gradient-to-b from-gray-dark-400 from-50% to-gray-dark-900 to-50% bg-repeat;
    content: '';
    background-color: transparent;
    background-size: 100% 13px;
  }

}